/* For mobile */
@media only screen and (max-width: 720px) {
    .first-bg.mobile {
        display: none;
    }

    .second-bg.mobile {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url('mobile.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -100;
    }

    .btn {
        padding: 5px 10px;
        width: 50vw;
        height: 5vh;
    }
}